.container {
  margin: 20px auto;
  width: 960px;
  padding: 0px 20px 20px 20px;
  text-align: center;
}

.element {
  margin-top: 20px;
  display: inline-block;
  width: 45%;
  vertical-align:top;
}

#converted-text,
#changes {
  text-align: left;
}

span {
  background: orange;
}

html {
  background: url('../paper.jpg')
}

textarea {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset,  -1px -1px 3px rgba(0, 0, 0, 0.3) inset;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border:none;
}
