<div class="container">
  <h1>Welcome to Beautiful Text</h1>

  <form action="/beautiful" method="post">
    <textarea name="text" id="text" cols="30" rows="10"></textarea>
    <input type="submit" value="Beautiful it!">
  </form>
</div>
