<div class="container">
  <h1>Welcome to Beautiful Text</h1>

  <div>
    <p>Enter your text to beautifulize here</p>
    <form action="/beautiful" method="post">
      <textarea name="text" id="text" cols="30" rows="10"></textarea>
      <input type="submit" value="Beautiful it!">
    </form>
  </div>
  <div>
    <p>Result:</p>
    <div id="converted-text">
    </div>
  </div>
  <div>
    <p>Changes:</p>
    <div id="changes">
    </div>
  </div>
</div>
